Appium-Python-Client==1.0.2
attrs==20.3.0
func-timeout==4.3.5
iniconfig==1.1.1
Jinja2==2.11.3
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.20.1
opencv-python==4.5.1.48
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
PyYAML==5.4.1
selenium==3.141.0
toml==0.10.2
urllib3==1.26.3
