<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>report</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/template.css">
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/echarts.min.js"></script>
    <script src="js/template.js"></script>
    <style>
    </style>
</head>
<body>

<div class="page-header text-center">
    <h1>Test Report</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="serial">#</th>
                        <th class="activity">Activity</th>
                        <th class="pass-total">Pass Total</th>
                        <th class="error-total">Error Total</th>
                        <th class="pass-detail">Pass Detail</th>
                        <th class="error-detail">Error Detail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in activities.items() %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ key}}</td>
                        <td>{{ value.pass }}</td>
                        <td>{{ value.error }}</td>
                        <td>
                            {% if value.pass_detail %}
                            <pre>{% for item in value.pass_detail %}{{ loop.index }}.&nbsp;{{ item.xpath }}&nbsp;<span class="pass-log">{{ item.log}}</span>&nbsp;<a href="javascript:;">Screenshot</a><span style="display: none"><br><span id="{{ item.before_click }}">before click:</span><br><img class="before-screenshot" src="" onload="resize(this,400,400);"><br><span id="{{ item.after_click }}">after click:</span><br><img class="after-screenshot" src="" onload="resize(this,400,400);"></span><br>{% endfor %}</pre>
                            {% else %}
                                No content
                            {% endif %}
                        </td>
                        <td>
                            {% if value.error_detail %}
                            <pre>{% for item in value.error_detail %}{{ loop.index }}.&nbsp;{{ item.xpath }}&nbsp;<span class="crash-log">{{ item.log}}</span>&nbsp;<a href="javascript:;">Screenshot</a><span style="display: none"><br><span id="{{ item.before_click }}">before click:</span><br><img class="before-screenshot" src="" width="60%" height="90%"><br><span id="{{ item.after_click }}">after click:</span><br><img class="after-screenshot" src="" width="60%" height="90%"></span>{% endfor %}<br></pre>
                            {% else %}
                                No content
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

<script>
    bindShowScreenshot();

    function resize(element, maxWidth, maxHeight) {
        if (element.width > maxWidth || element.height > maxHeight) {
            if (element.width / element.height > maxWidth / maxHeight) {
                element.width = maxWidth;
            } else {
                element.height = maxHeight;
            }
        }
    }
</script>
</body>

</html>