<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>report</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/jquery-3.5.1.js"></script>
    <style>
        pre {
            overflow: auto;
            height: 600px;
            word-wrap: break-word;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
<div class="page-header text-center">
    <h1>Test report</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Activity</th>
                        <th>Event Total</th>
                        <th>Error total</th>
                        <th>Pass</th>
                        <th>Error</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in activities.items() %}
                    <tr>
                        <th>{{ loop.index }}</th>
                        <th>{{ key}}</th>
                        <th>{{ value.pass }}</th>
                        <th>{{ value.error }}</th>
                        <th>
                            <pre>{% for item in value.pass_detail %}
                                {{ loop.index }}.&nbsp;{{ item.xpath }}&nbsp;{{ item.log}}&nbsp;<a href="#">Screenshot</a><span style="display: none"><br>before click:&nbsp;<br><img src={{ item.before_click }} width="40%" height="60%"><br>after click:&nbsp;<br><img src={{ item.after_click }} width="40%" height="60%"></span>
                                {% endfor %}}
                            </pre>

                        </th>
                        <th>
                            <pre>{% for item in value.error_detail %}
                                {{ loop.index }}.&nbsp;{{ item.xpath }}&nbsp;{{ item.log}}&nbsp;<a href="#">Screenshot</a><span style="display: none"><br>before click:&nbsp;<br><img src={{ item.before_click }} width="40%" height="60%"><br>after click:&nbsp;<br><img src={{ item.after_click }} width="40%" height="60%"></span>
                                {% endfor %}
                            </pre>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

<script>
    $("a").click(function(){
        const display = $(this).next().css("display")
        if (display == "inline") {
            $(this).next().css("display", "none")
        } else {
            $(this).next().css("display", "inline")
        }

    })

</script>

</body>

</html>